{% extends 'site/includes/layout.html.jinja2' %}

{% block page_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}


{% block page_content %}

    <div class="container-fluid h-100 mt-4">
        <div class="row justify-content-center h-100 chat-bg-clr">

            <!-- Contact List Section -->
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">

                    <!-- User Search Box -->
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." id="search_user" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- Contact List / Conversation List -->
                    <div class="card-body contacts_body">
                        <ul class="contacts" id="conversation_list">
                            <!-- Single contact/conversation -->
                            <!--
                            <li class="active">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="static/images/receiver.jpg" class="rounded-circle user_img">
                                        <span class="online_icon offline"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>Sahar Darya</span>
                                        <p>Sahar left 7 mins ago</p>
                                    </div>
                                </div>
                            </li>
                            -->
                        </ul>
                    </div>

                    <!-- <div class="card-footer"></div> -->
                </div>
            </div>



            <div class="col-md-8 col-xl-6 chat">

               <!-- Empty Chat Box -->
                <div class="card" id="empty_chat_box">
                    <div class="card-body text-center text-light p-5">
                        <h1>
                            Search or select a Conversation From the list
                        </h1>
                    </div>
                </div>

                <!-- The Chat Box -->
                <div class="card" id="the_chat_box" style="display: none">

                    <!-- Recipient's info -->
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">

                            <span id="receiver_id" style="display: none"></span>
                            <div class="img_cont">
                                <img src="static/images/receiver.jpg" id="receiver_img"
                                     class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span id="receiver_name">Receiver Name</span>
                                <!-- <p>1767 Messages</p> -->
                            </div>

                            <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>

                    <!-- ======== Messages ======== -->
                    <!-- Message Container -->
                    <div class="card-body msg_card_body">

                        <!-- message from receiver -->
                        <!--
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="static/images/receiver.jpg" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                Hi, how are you samim?
                                <span class="msg_time">8:40 AM, Today</span>
                            </div>
                        </div>
                        -->

                        <!-- message from sender -->
                        <!--
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                Hi Maryam i am good tnx how about you?
                                <span class="msg_time_send">8:55 AM, Today</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="static/images/sender.jpeg"
                                     class="rounded-circle user_img_msg">
                            </div>
                        </div>
                        -->

                    </div>


                    <!-- Message input field -->
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>

                            <!-- Message input -->
                            <input type="hidden" name="current_user_id" id="current_user_id" value="{{ current_user.id }}">
                            <span style="display: none;" id="current_user_avatar">{{ current_user.avatar }}</span>
                            <textarea name="user_input" id="user_input" class="form-control type_msg"
                                      placeholder="Type your message..."></textarea>

                            <div class="input-group-append">
                                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}




{# Page Scripts #}
{% block page_scripts %}
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.init.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}


