{% extends 'auth/auth_layout.html.jinja2' %}

{% block title %}
    <title>Forgot Password</title>
{% endblock %}

{% block page_content %}



    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-4">

                <div class="card text-center mt-4">
                    <div class="card-header">
                        <p><i class="fas fa-lock fa-10x"></i></p>
                        <h2>Forgot Password ?</h2>
                        <p>You can reset your password here</p>
                    </div>
                    <div class="card-body">

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <span class="text-info">{{ message }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <form action="{{ url_for('auth.forgot_password') }}" method="POST"
                              enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="text" class="form-control" id="email1" name="email">
                            </div>

                            <div class="submit-btn-area">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">
                                    Send
                                </button>
                            </div>

                            <div class="mt-2">
                                <p>Have an account ? <a href="/auth/login">Sign In</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


